body {
  box-sizing: border-box;
  margin: 0px;
}

.top-head {
  display: flex;
  background-color: #cddc39;
  padding: 10px;
  margin: 0px;
}

.top-head > h1 {
  margin: 0px;
  margin-top: 10px;
  font-family: poppins;
  color: white;
  font-weight: 600;
  width: 50%;
  padding: 0px;
}

.Media-Queries {
  width: 50%;
}
.Media-Queries > ul {
  display: flex;
  column-gap: 10px;
  float: right;
  padding-right: 10px;
  margin-top: 0px;
}

.Media-Queries > ul > li {
  list-style: none;
  font-family: Rubik;
}

.Media-Queries > ul > li abbr[title] {
  text-decoration: none;
}
