body {
  box-sizing: border-box;
  margin: 0px;
}

.top-head {
  display: flex;
  background-image: linear-gradient(
    90deg,
    #1a2a6c 0%,
    #b21f1f 50%,
    #fdbb2d 100%
  );
  margin: 0px;
}

.top-head > h1 {
  margin: 0px;
  margin-top: 10px;
  font-family: poppins;
  color: white;
  font-weight: 600;
  width: 50%;
  padding-left: 20px;
  padding-bottom: 10px;
}

.Media-Queries {
  width: 50%;
  padding-top: 0px;
}
.Media-Queries > ul {
  display: flex;
  column-gap: 25px;
  float: right;
  padding-right: 30px;
}

.Media-Queries > ul > li {
  list-style: none;
  border: 2px solid white;
  font-family: montserrat;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.Media-Queries li:hover {
  transform: scale(1.04);
  color: #fdbb2d;
  background-color: white;
}
.Media-Queries > ul > li abbr[title] {
  text-decoration: none;
}

.outerlayer {
  padding: 10px;
  display: flex;
}

.converter {
  width: 50%;
  padding: 10px;
}

.MainConversion {
  text-align: center;
  padding-top: 30px;
}

.MainConversion #displayresult {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  font-family: poppins;
}

#displayresult #HeaderDisplay {
  font-size: 40px;
  margin: 0px 0px;
}

#displayresult #MistakeDisplay {
  font-weight: 500;
}
.converter .MainConversion input {
  display: block;
  margin: auto;
  width: 30%;
  font-size: 20px;
  padding: 3px;
  border: 0px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fdbb2dcc;
}

.converter .MainConversion label {
  margin-top: 10px;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 600;
}
