body {
  box-sizing: border-box;
  margin: 0px;
}

.top-head {
  display: flex;
  background-color: black;
  margin: 0px;
}

/* universal button styling*/
button {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
}
/*Styling the universal button*/
button:hover {
  transform: scale(1.05);
}

button:active {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
}
.top-head > h1 {
  margin: auto;
  font-family: poppins;
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
  width: 50%;
  padding-left: 20px;
}

.Media-Queries {
  width: 50%;
  padding-top: 0px;
}
.Media-Queries > ul {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1.5vw;
  float: right;
  padding-right: 30px;
  box-sizing: border-box;
  overflow: hidden;
}

.Media-Queries > ul > li {
  list-style: none;
  border: 2px solid white;
  font-family: montserrat;
  font-size: 1.6vw;
  font-weight: 600;
  border-radius: 1.3rem;
  color: white;
  padding: 5px 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.Media-Queries li:hover {
  transform: scale(1.04);
  color: #000;
  background-color: white;
}
.Media-Queries > ul > li abbr[title] {
  text-decoration: none;
}

.outerlayer {
  padding: 10px;
  display: flex;
}

.converter {
  width: 50%;
  padding: 10px;
}

.MainConversion {
  text-align: center;
  padding-top: 30px;
}

.MainConversion #displayresult {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  font-family: poppins;
}

#displayresult #HeaderDisplay {
  font-size: 2.6041666666666665vw;
  margin: 0px 0px;
}

#displayresult #MistakeDisplay {
  font-weight: 500;
  font-family: youtube sans;
  font-size: 18px;
  font-weight: 500;
}
.converter .MainConversion input {
  display: block;
  margin: auto;
  width: 30%;
  font-size: 20px;
  padding: 3px;
  border: 0px;
  font-family: Montserrat;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgb(177, 177, 177);
}

.converter .MainConversion label {
  font-size: 18px;
  font-family: youtube sans;
  font-weight: 600;
}
/* Global Place holder Styling*/

input::placeholder {
  font-family: youtube sans;
  color: rgba(0, 0, 0, 0.671);
  font-size: 16px;
  font-weight: normal;
}

.MainConversion {
  font-family: montserrat;
  margin: 3px;
  font-size: 15px;
  font-weight: 600;
}
.MainConversion button {
  width: 11vw;
  font-family: poppins;
  font-size: 18px;
  padding: 5px 10px;
  margin: 2% 2%;
  background-color: #000;
  border: 0px;
  color: white;
  border-radius: 4px;
}

.MainConversion button:active {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
}
.ScreenSelector {
  padding: 10px;
  width: 50%;
  text-align: center;
  display: block;
  padding-top: 40px;
}

.ScreenSelector #knowScreensize {
  width: 100%;
}

.ScreenSelector #knowScreensize h5 {
  font-size: 3vw;
  margin: 0px;
  margin-top: 10px;
  font-family: poppins;
}

code {
  margin: 10px auto;
  display: block;
  margin-bottom: 15px;
}
.ScreenSizeChecker {
  display: flex;
  font-family: montserrat;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.ScreenSizeChecker #knowScreenWidth {
  width: 50%;
  text-align: center;
}

.ScreenSizeCheckingbutton {
  display: block;
  margin: auto;
  width: 150px;
  margin-top: 40px;
  padding: 5px 10px;
  font-size: 19px;
  font-family: poppins;
  font-weight: 500;
  background-color: #000;
  color: white;
  border-radius: 5px;
  border: 0px;
}
#knowScreenHeight {
  width: 100%;
}

#ScreenSelection {
  padding: 10px;
  display: block;
  text-align: center;
  padding-top: 0px;
}

#ScreenSelection label {
  text-align: center;
  display: block;
  font-size: 3vw;
  font-weight: 600;
  font-family: poppins;
}

#select {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  font-family: montserrat;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: #000;
  color: white;
}

#select option {
  background-color: thistle;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

#ScreenSelection button {
  width: 200px;
  font-family: poppins;
  font-size: 18px;
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
  border: 0px;
  color: white;
  border-radius: 4px;
}
/* Here the top selection is hidden*/
.topselectionsection {
  display: none;
}

.DeviceSelectionHeader {
  display: none;
}

@media screen and (max-width: 550px) {
  .top-head > h1 {
    width: 45%;
  }
  input:focus {
    border: none;
    outline: none;
  }
  .Media-Queries {
    float: right;
    width: 55%;
  }
  .top-head > h1 {
    font-size: 3.5vw;
    font-weight: 600;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .Media-Queries > ul {
    padding-right: 10px;
    column-gap: 10px;
    padding-left: 0px;
  }
  .Media-Queries > ul > li {
    font-size: 13px;
    float: right;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid white;
    padding: 6px;
  }

  .ScreenSelector #knowScreensize h5 {
    font-size: 30px;
  }

  #select {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .topselectionsection {
    display: flex;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }
  .topselectionsection #select {
    width: auto;
    margin: 0%;
    border-radius: 5px;
    font-size: 15px;
    background-color: black;
    padding: 5px 10px;
    height: auto;
  }
  .topselectionsection #select option {
    background-color: darkorange;
    color: white;
    text-align: left;
    font-size: 16px;
    padding: 5px;
  }
  .topselectionsection .Topchoice {
    width: 45px;
    font-size: 15px;
    font-family: poppins;
    font-weight: 500;
    background-color: darkorange;
    height: 45px;
    padding: 0px;
    border: 0px;
    text-align: center;
    border-radius: 50%;
  }

  .outerlayer {
    padding: 0px;
    display: block;
  }
  .converter {
    width: 100%;
    box-sizing: border-box;
  }
  .MainConversion {
    padding-top: 0px;
  }
  .MainConversion #displayresult {
    margin-bottom: 24px;
    height: auto;
  }

  #displayresult #HeaderDisplay {
    font-size: 25px;
    margin-bottom: 0px;
  }

  #displayresult #MistakeDisplay {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 3vw;
    font-family: poppins;
  }

  .converter .MainConversion input {
    width: 200px;
    margin-bottom: 20px;
  }

  .DeviceSelectionHeader {
    display: block;
    margin: 10px auto 10px;
    text-align: center;
    font-size: 20px;
    font-family: montserrat;
    font-weight: 600;
  }

  .Pxconversion button {
    margin: 10px 5px;
    width: 150px;
    font-size: 15px;
  }

  .converter .MainConversion label {
    font-size: 15px;
    font-family: montserrat;
    font-weight: 700;
  }
  button:hover {
    transform: none;
  }

  .ScreenSelector {
    display: none;
  }
}
